@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: unset !important;
}

body {
  @apply font-oliGrostesk;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-[2rem] sm:text-[3rem] lg:text-[3.2rem] xl:text-[3.6rem] 2xl:text-[4rem] font-bold
}

p, a, li {
    @apply text-[1rem] sm:text-[1.1rem] lg:text-[0.9rem] xl:text-[1rem] 2xl:text-[1.1rem]
}

section {
    @apply px-[1rem] sm:px-[5%] lg:px-[7%]
}

/* Swiper Customization */
.swiper-wrapper {
  align-items: stretch !important;
}
.swiper-slide {
  height: auto !important;
}

.swiper-pagination-bullet{
    @apply !bg-primary opacity-20 scale-125 lg:scale-110 xl:scale-125
}
.swiper-pagination-bullet-active{
    @apply !bg-primary opacity-100
}

/* Footer Start */
footer a{
    @apply block mb-[0.5rem] hover:text-primary
}
/* Footer End */